In [1]:
from sklearn import tree
import pandas as pd
import os
from zipfile import ZipFile

In [3]:
i=("Data/big_file.zip")

zf = ZipFile(i)
    
name = zf.namelist()[0]

print(name)

df = pd.read_csv(zf.open(name))

testb (2).csv

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,station,sector,location,Longitude,Latitude,#YY,MM,Date,hh,min,...,WVHT(m),DPD(sec),APD(sec),MWD(deg),PRES(T hPa),ATMP(Cel),WTMP(Cel),DEWP(Cel),VIS(mi),TIDE(ft)
0,42002,WEST GULF,207 NM East of Brownsville TX ...,26.055,-93.646,2005,Aug,2005-08-01,0,0,...,0.36,4.55,3.30,12,1015.0,28.9,30.0,23.8,99,99
1,42002,WEST GULF,207 NM East of Brownsville TX ...,26.055,-93.646,2005,Aug,2005-08-01,1,0,...,99.00,99.00,99.00,999,1015.2,28.8,29.8,23.6,99,99
2,42002,WEST GULF,207 NM East of Brownsville TX ...,26.055,-93.646,2005,Aug,2005-08-01,2,0,...,0.33,9.09,3.51,107,1015.4,28.7,29.7,23.5,99,99
3,42002,WEST GULF,207 NM East of Brownsville TX ...,26.055,-93.646,2005,Aug,2005-08-01,3,0,...,0.33,4.35,3.61,6,1015.6,28.7,29.6,23.6,99,99
4,42002,WEST GULF,207 NM East of Brownsville TX ...,26.055,-93.646,2005,Aug,2005-08-01,4,0,...,0.32,8.33,3.80,112,1016.1,28.7,29.6,23.7,99,99

In [5]:
len(df.index)

1592374